/* navbar */
.logo img {
    width: 100px;
}


.buttonBurgerMenu {
    background: none;
    color: grey;
    border: none;
}


.burgerMenu {
    height: 30px;
    width: 30px;
}


.rightMenu li a {
    text-decoration: none;
    color: black;
}


.rightMenu li a:hover {
    text-decoration: none;
    color: grey;
}


.menuOffCanvas li a{
    text-decoration: none;
    color: grey;
}


.menuOffCanvas li a:hover{
    text-decoration: none;
    color: black;
}


.profileLogoOff {
    width: 35px;
    height: 35px;
}


.worldLogo {
    width: 20px;
    height: 20px;
}
/* fine navbar */

/* colore plus  */
.custom-plus{
width: 30px;
height: 30px;
background-color: rgb(228, 30, 87) ;
border-radius: 50px;
}

.style-btn{
    width: 100 px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid grey
}