/* navbar */
.logo img {
    width: 100px;
}

.logo {
    cursor: pointer;
}


.buttonBurgerMenu {
    background: none;
    color: grey;
    border: none;
}


.burgerMenu {
    height: 30px;
    width: 30px;
}


.rightMenu li a {
    text-decoration: none;
    color: black;
}


.rightMenu li a:hover {
    text-decoration: none;
    color: grey;
}


.menuOffCanvas li a {
    text-decoration: none;
    color: grey;
}


.menuOffCanvas li a:hover {
    text-decoration: none;
    color: black;
}


.profileLogoOff {
    width: 35px;
    height: 35px;
}


.worldLogo {
    width: 20px;
    height: 20px;
}

.offcanvas {
    --bs-offcanvas-height: 50vh;
}

/* fine navbar */

/* colore plus  */
.custom-plus {
    width: 30px;
    height: 30px;
    background-color: rgb(228, 30, 87);
    border-radius: 50px;
    color: white;
    
}

.style-btn {

    white-space: nowrap;
    border-radius: 50px;
    border: 1px solid grey;
    font-size: 12px;


}

.fs-custom span,
p {
    font-size: 12px;
}

.svgStar {
    width: 10px;
    height: 10px;
}

.svgStar svg {
    fill: #FF385C;
}

.size-text-custom {
    font-size: 12px;
}

.cardAppartamenti {
    position: relative;
    cursor: pointer;
}

.image-container {
    position: relative;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.image-container:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}


/*footer*/

ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.backgroundFooter {
    background-color: #F7F7F7;
}

.footerList li a{
    font-size: 12px;
    
}

.firstFooterList li a:hover {
    color: grey;
}

.socialLogos {
    cursor: pointer;
}

h5 {
    font-size: 13px;
}

.customSize {
    font-size: 13px;
}
